@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #cbd5d8, #0083b0);
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.weather-card {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background: #0083b0;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #005f7a;
}

.weather-info h2 {
    margin: 10px 0;
    color: #333;
}

.temp {
    font-size: 3rem;
    font-weight: bold;
    color: #111;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    text-align: left;
    font-size: 0.9rem;
}

.details div {
    background: #f0f8ff;
    padding: 30px;
    border-radius: 10px;
    font-size: 18px;
}

.weather-icon {
    width: 100px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.2)); 
    background: rgba(112, 162, 182, 0.212); 
    border-radius: 50%;
}

